footer{
    background: url("/img/bg.png");
    background-color: #F9F4E2;
    display: flex;
    flex-direction: row;
    margin-top: 23px;
}
.string1{
    display: flex;
    flex-direction: row;
    gap: 40px;
}
.string2{
    margin-top: 29px;
}
.severyanochka__logo_footer{
    margin-left: 116px;
    display: flex;
    flex-direction: row;
}