.container{
    display: grid;
    grid-template-columns: 150px auto 40%;
    grid-template-rows: 250px 10vw 15rem;
    justify-content: space-evenly;

}

.grid1{
    display: grid;
    grid-template-columns: auto 300px 300px;
    column-gap: 40px;

}

.grid2{
    display: grid;
    grid-template-columns: 300px 300px 300px 300px;
    column-gap: 40px;
}
.grid3{
    display: grid;
    grid-template-columns: 300px 300px auto;
    column-gap: 40px;
}
.grid4{
    display: grid;
    grid-template-columns: 300px auto 300px;
    column-gap: 40px;
}
